@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans:wght@100;500&family=IBM+Plex+Serif:ital,wght@0,100;0,500;0,600;0,700;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
@import url("http://fonts.cdnfonts.com/css/games");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,900&family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap");
.hero-container {
  margin-top: 7rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 90%;
  height: 550px;
  overflow: hidden;
  background-color: rgba(91, 0, 111, 0.485);
  box-shadow: 1px 7px 8px -3px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 7px 8px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 7px 8px -3px rgba(0, 0, 0, 0.8);
  border-radius: 1.5rem;
}

.hero1 {
  width: 70%;
  height: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150%;
  padding: 0;
  left: 10%;
  margin: 0;
  position: relative;
  float: right;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: rgba(91, 0, 111, 0.485);
}

.hero-container-img-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5%;
}

.img-hero {
  position: absolute;
  width: 750px;
  height: 550px;
}

.container-paragraphs {
  border-radius: 2rem;
}

.hero-text {
  margin-right: 10px;
  width: 75%;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-shadow: 2px 3px #000000;
}
.hero-text .hero-paragraph {
  font-size: 2.5rem;
  padding: 0;
}

@media only screen and (max-width: 3073px) {
  .hero-container {
    width: 50%;
    margin-top: 15rem;
    margin-bottom: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 550px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 950px;
    height: 850px;
    transition: 0.5s;
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 2.5rem;
    padding: 0;
  }

  .hero-button {
    font-size: 2.4rem;
  }
}
.img-hero:hover {
  transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 1920px) {
  .hero-container {
    width: 70%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 550px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 850px;
    height: 750px;
    transition: 0.5s;
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 2.2rem;
    padding: 0;
  }

  .hero-button {
    font-size: 1.5rem;
    padding: 5px 2rem;
  }
}
.img-hero:hover {
  transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 1680px) {
  .hero-container {
    width: 80%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 550px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 850px;
    height: 750px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 2.2rem;
    padding: 0;
  }
}
@media only screen and (max-width: 1600px) {
  .hero-container {
    width: 80%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 550px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 750px;
    height: 600px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 1.8rem;
    padding: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .hero-container {
    width: 80%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 550px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 650px;
    height: 625px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 1rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 1.8rem;
    padding: 0;
  }
}
@media only screen and (max-width: 1366px) {
  .hero-container {
    width: 80%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 500px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 600px;
    height: 550px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .hero-container {
    width: 80%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 500px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 500px;
    height: 450px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 1.4rem;
    padding: 0;
  }
}
@media only screen and (max-width: 800px) {
  .hero-container {
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 300px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 350px;
    height: 300px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 1.1rem;
    padding: 0;
  }

  .hero-button {
    font-size: 1.2rem;
    padding: 5px 30px;
  }
}
@media only screen and (max-width: 800px) {
  .hero-container {
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 300px;
  }

  .hero1 {
    width: 70%;
    height: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 150%;
    padding: 0;
    left: 10%;
    margin: 0;
    position: relative;
    float: right;
  }

  .hero-container-img-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 5%;
  }

  .img-hero {
    position: absolute;
    width: 350px;
    height: 300px;
    transition: 0.5s;
  }

  .img-hero:hover {
    transform: scale(1.05, 1.05);
  }

  .container-paragraphs {
    border-radius: 2rem;
  }

  .hero-text {
    margin-right: 10px;
    width: 75%;
  }
  .hero-text .hero-paragraph {
    font-size: 1.1rem;
    padding: 0;
  }

  .hero-button {
    font-size: 0.8rem;
    padding: 5px 10px;
  }
}
/* @media only screen and (max-width: 3073px) {

  .hero-container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0;
    width: 80%;
    height: 525px;
  }

  .img-hero {
    position: absolute;
    width: 750px;
    height: 650px;
  }
   .container-paragraphs {
    padding: 10px;
    // font-weight: bolder;
  }

    .hero-paragraph {
      font-size: 3rem !important;
    }
    .hero1{
      width: 70%;
      height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      background-color: rgba(24, 24, 24, 0.537);
      background-position: center;
    }
    .hero-button {
      font-size: 2rem;
    }
}

@media only screen and (max-width: 1280px) {

  .hero-container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0;
    width: 85%;
    height: 600px;
  }

  .img-hero {
    position: absolute;
    width: 550px;
    height: 650px;
  }
   .container-paragraphs {
    padding: 10px;
    // font-weight: bolder;
  }

    .hero-text {
      margin: 20px;
    }
    .hero-paragraph {
      font-size: 3rem !important;
    }
    .hero1{
      width: 70%;
      height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      background-color: rgba(24, 24, 24, 0.537);
      background-position: center;
    }
    .hero-button {
      font-size: 2rem;
    }
}
@media only screen and (max-width: 768px) {

  .hero-container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0;
    width: 95%;
    height: 500px;
  }

  .img-hero {
    position: absolute;
    width: 450px;
    height: 550px;
  }
   .container-paragraphs {
    padding: 10px;
    // font-weight: bolder;
  }

    .hero-text {
      margin: 20px;
    }
    .hero-paragraph {
      font-size: 2rem !important;
    }
    .hero1{
      width: 70%;
      height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      background-color: rgba(24, 24, 24, 0.537);
      background-position: center;
    }
    .hero-button {
      font-size: 2rem;
      padding: 20px;
    }
}
@media only screen and (max-width: 414px) {

  .hero-container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0;
    width: 95%;
    height: 550px;
  }

  .img-hero {
    position: relative;
    width: 450px;
    height: 550px;
  }
   .container-paragraphs {
    padding: 10px;
    // font-weight: bolder;
  }

    .hero-text {
      width: 100%;
      margin-top: 8rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
    .hero-paragraph {
      font-size: 2rem !important;
    }
    .hero1{
      width: 70%;
      height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      background-color: rgba(24, 24, 24, 0.537);
      background-position: center;
    }
    .hero-button {
      font-size: 2rem;
      padding: 10px;
    }
}
@media only screen and (max-width: 375px) {

  .hero-container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0;
    width: 95%;
    height: 550px;
  }

  .img-hero {
    position: relative;
    width: 450px;
    height: 550px;
  }
   .container-paragraphs {
    padding: 10px;
    // font-weight: bolder;
  }

    .hero-text {
      width: 95%;
      margin-top: 8rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .hero-paragraph {
      font-size: 2rem !important;
    }
    .hero1{
      width: 70%;
      height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      background-color: rgba(24, 24, 24, 0.537);
      background-position: center;
    }
    .hero-button {
      font-size: 2rem;
      padding: 10px;
    }
}

@media only screen and (max-width: 361px) {

  .hero-container{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding: 0;
    width: 95%;
    height: 550px;
  }

  .img-hero {
    position: relative;
    width: 450px;
    height: 550px;
  }
   .container-paragraphs {
    padding: 10px;
    // font-weight: bolder;
  }

    .hero-text {
      width: 100%;
      margin: 0;
      margin-top: 8rem;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .hero-paragraph {
      font-size: 2rem !important;
    }
    .hero1{
      width: 70%;
      height: 140%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border-radius: 50%;
      background-size: cover;
      background-color: rgba(24, 24, 24, 0.537);
      background-position: center;
    }
    .hero-button {
      font-size: 2rem;
      padding: 10px;
    }
}
 *//*# sourceMappingURL=callToAction.css.map */