pallets{
    color:#00C3F6;
    color: #321E43;
    color: #DD7CFF;
    color: #BA40E1;
    color:#FD2E67;
    color:#6E248B;
    color:#64032B;
    color:#9D164D;
    color:#78228F;
    color:#6C0B36;
}
