@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap");
.top-container {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.TopImage{
    width: 25rem;
}
.topImages {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trending-title{
    width: 26rem;
}