*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%;
  min-height: .1rem; */
}

.App{
  width: 100%;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
}
.loadingContainer{
  height: 65vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.loadingImg{
  margin-right: 20% !important;
  background-color: red !important;
}
PacmanLoader{
  background-color: red !important;
}
/* .swal2-toast{
  overflow: hidden;
} */
#root{
  /* z-index: 2; */
  background-image: url(https://user-images.githubusercontent.com/91817152/163213332-abb446f0-0a2a-4484-b57c-a188df1d6c55.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  /* background-color: #00ffff; */
  background:linear-gradient( 42deg, #430495, #6f00ff)!important;


  border-radius: 10px;
}

.App > div:first-child:not(.loadingContainer){
  background:linear-gradient( 82deg, #ff00eb, #00ffff)!important;
  padding: .25rem!important;
  border-bottom-right-radius: 60px;
  background-image: url();
  box-shadow: 4px 2px 5px 1px rgba(0, 0, 0, 0.8);
  z-index: 999!important;
}

.styles_scroll-to-top__2A70v{
color: #84ffff !important;
backdrop-filter: blur(20px) !important;
background-color: #ffffff49 !important;
right: 40px !important;
bottom: 40px !important;
position: fixed !important;
z-index: 2 !important;
cursor: pointer !important;
border-radius: 50% !important;
width: 55px !important;
height: 55px !important;
transition: opacity 1s ease-in-out !important;
box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28) !important;
border: none !important;
outline: none !important;
}

.styles_scroll-to-top__2A70v:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}